input[type="text"],[type="email"],[type="date"] {
    background-color: rgb(218, 211, 153);
    border-width: 1px;
    border-style: solid;
    color: rgb(129, 129, 219);
    padding: 5px;
    font-size: 20px;
    margin-top: 5px;
}
input[type="text"]:focus {
    background-color: rgb(64, 106, 121);
}
label{
    font-size: 20px;
}
legend {
    font-size: 30px;
    border-color: rgb(213, 214, 128);
    width: fit-content;
    color: rgb(53, 28, 145);
}
input[type="submit"] {
    background-color: rgb(131, 76, 14);
    color: rgb(250, 240, 240);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type="reset"] {
    background-color: rgb(109, 26, 26);
    color: rgb(241, 234, 234);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
td {
    width: 200px;
}